* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    height: 100vh;
    color: #333; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

nav {
    background-color: #444;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-right: 40px;
    transition: 0.4s;
}

nav a:hover {
    color: rgb(198, 231, 240);  
}

h1 {
    color: rgb(4, 31, 39);
    background-color: rgb(60, 206, 243);
    width: 300px;
    height: 90px;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.message-1{
    margin-top: 10px;
    margin-bottom: 20px;
}

.message-1 , .message-2 {
    font-size: 24px;
    font-weight: bold;
}

footer {
    background-color: #444;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 10px 30px;
    background-color: #444;
    color: white;
    border-radius: 5px;
    border: none;
}

input {
    padding: 10px;

}

img {
    width: 300px;
}